<div class="w3_login">
		<span class='alert alert-success' ng-if="success_message">{{success_message}}</span>
		<h3>Login</h3>
		<div class="w3_login_module">
			<div class="module form-module">
			  <div class="form">
					<h2>Login to your account</h2>
					<form ng-submit="login()" method="post">
						<input type="email" name="Email" placeholder="Email" required=" " ng-model="user.email">
						<input type="password" name="Password" placeholder="Password" required=" " ng-model="user.password">
						<input type="submit" value="Login">
					</form>
				</div>
			</div>
		</div>
</div>
