<div class="w3_login">
		
		<h3>Login</h3>
		<div class="w3_login_module">
			<div class="module form-module">
				<p style="margin-top: 1em;" class='alert alert-danger' ng-show="error_message">{{error_message}}</p>
				<p style="margin-top: 1em;" class='alert alert-success' ng-show="success_message && !error_message">{{success_message}}</p>
				<div class="form">
					<h2>Login to your account</h2>
					<form ng-submit="login()" method="post">
						<input type="email" name="Email" placeholder="Email" required=" " ng-model="user.email">
						<input type="password" name="Password" placeholder="Password" required=" " ng-model="user.password">
						<input type="submit" value="Login">
					</form>
					<p style="margin: 1em">New user? <a href="#!register">Click Here </a>to register</p>
				</div>
			</div>
		</div>
		
</div>
