<div class="w3ls_w3l_banner_nav_right_grid">
    <div class="w3l_banner_nav_right_banner4">
        <h3>Best Deals For New Products<span class="blink_me"></span></h3>
    </div><br/>
    <h3>Browse Products</h3>
    <p class="alert alert-danger" ng-show="error_message" id="error_message">{{error_message}}</p>
    <p class="alert alert-success" ng-show="success_message" id="success_message">{{success_message}}</p>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <dir-pagination-controls [max-size="10" ] [direction-links="true" ] [boundary-links="true" ] [on-page-change="" ] [pagination-id="" ] [template-url="" ] [auto-hide="" ]>
            </dir-pagination-controls>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid1">
        <div dir-paginate="product in products | filter:query | filter:deletedFilter | itemsPerPage: 8" class="col-md-3 w3ls_w3l_banner_left" ng-if="!product.isDeleted">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block">
                                <div class="snipcart-thumb">
                                    <img ng-src="images/{{product.productImage}}" alt="Image not fonund!" class="img-responsive" />
                                    <p>{{product.productName}}</p>
                                    <h4>${{product.productPrice}}</h4>
                                    <button class="btn btn-primary" ng-if="admin" ng-click="updateProd(product)">Update</button>
                                    <button class="btn btn-danger" ng-if="admin" ng-click="deleteProd(product._id)">Delete</button>
                                </div>
                                <div class="snipcart-details">
                                    <button class="btn btn- info" ng-click="addToCart(product)"><span class="glyphicon glyphicon-plus"></span></button>
                                    <span>{{product.cartQuantity}}</span>
                                    <button class="btn btn-danger" ng-click="removeFromCart(product)"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>