<style type="text/css">
    #maintable td.black {
        color: black;
    }
    
    #maintable td.blue {
        color: #00F;
    }
</style>
<h1> Purchase History </h1>
<table class="a table table-striped" id="maintable">
    <thead>
        <tr>
            <th scope="col" style="color:black"> S.No</th>
            <th scope="col" style="color:black">Purchase ID</th>
            <th scope="col" style="color:black">Date and Time</th>
            <th scope="col" style="color:black">Amount</th>
            <th scope="col" style="color:black">View</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="purchase in purchases | orderBy: 'timestamp':true ">
            <td class="black">{{$index + 1}}</td>
            <td class="black">{{purchase._id}}</td>

            <td class="black">{{purchase.timestamp | date:'MM/dd/yyyy HH:mm:ss'}}</td>
            <td class="black">${{purchase.amount | number:2}}</td>
            <td><button ng-click="viewPurchase(purchase._id)" class="btn btn-info">View</button></td>
        </tr>
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="backToProducts()">Back to products</a>
        </div>
    </div>
</div>