<div class="w3_login">
    <h3>Register</h3>
    <div class="w3_login_module">
        <div class="module form-module">
            <span class='alert alert-danger' ng-if="error_message">{{error_message}}</span>
            <div class="form">
                <h2>Create an Account</h2>
                <form ng-submit="register()" method="post">
                    <input type="text" name="Name" placeholder="Name" required=" " ng-model="user.name">
                    <input type="email" name="Email" placeholder="Email Address" required=" " ng-model="user.email">
                    <input type="password" name="Password" placeholder="Password" required=" " ng-model="user.password" ng-change="checkPwdStrength()">
                    <span ng-show = "strength_message">{{strength_message}}</span>
                    <input type="submit" value="Register">
                </form>
                <p style="margin: 1em">Already have an account? <a href="#!login">Click Here </a>to login</p>
            </div>
        </div>
    </div>
</div>