<style type="text/css">
    #maintable td.black {
        color: black;
    }
    
    #maintable td.blue {
        color: #00F;
    }
</style>
<h4> Purchase #{{purchase._id}} </h4>
<h4>Purchase Date & Time: {{purchase.timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}</h4>
<table class="table table-bordered" id="maintable">
    <thead>
        <tr>
            <th scope="col" style="color:black">S.No</th>
            <th scope="col" style="color:black">Product Name</th>
            <th scope="col" style="color:black">Quantity</th>
            <th scope="col" style="color:black">Price</th>
            <th scope="col" style="color:black">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in purchase.products">
            <td class="black">{{$index + 1}}</td>
            <td class="black">{{product.productName}}</td>
            <td class="black">{{product.quantity}}</td>
            <td class="black">${{product.price | number:2}}</td>
            <td class="black">${{(product.quantity * product.price) | number:2}}</td>
        </tr>
    </tbody>
    <tfoot>
        <td colspan="3"></td>
        <td class="black">Total</td>
        <td class="black">${{purchase.amount | number:2}}</td>
    </tfoot>
</table>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="backToPurchaseHistory()">Back to Purchase History</a>
        </div>
    </div>
</div>